body {
    background-color: #121212;
    background: linear-gradient(135deg, #121212, #1a1a1a);
    color: #fff;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.verification-container {
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.12);
    padding: 30px;
    border-radius: 12px;
    background-color: #1a1a1a;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.verification-container:hover {
    transform: scale(1.05);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.7);
}

h1 {
    margin: 0;
    font-size: 3rem; /* Increased the font size for the heading */
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

p {
    margin: 20px 0 0;
    font-size: 2rem; /* Increased the font size for the paragraph */
    color: rgba(255, 255, 255, 0.7);
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}
